{{ 'section-cart-drawer.css' | asset_url | stylesheet_tag }}

<section class="c-cart-drawer" id="cartDrawer">
    <div class="c-cart-drawer__overlay" data-drawer-close></div>
    <div class="c-cart-drawer__wrapper">
        <!-- Close Btn -->
        <button class="c-cart-drawer__close-btn" data-drawer-close>
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7 7L13 1" stroke="#D4D4D4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                                
        </button>
        <button class="c-cart-drawer__open-btn" data-drawer-open>
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 7L7 1L13 7" stroke="#D4D4D4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
        </button>
        <!-- Header -->
        <div class="c-cart-drawer__header">
            <div class="c-cart-drawer__cart-count" data-drawer-open></div>
            <div class="c-cart-drawer__progress"></div>
            <div class="c-cart-drawer__progress-message"></div>
        </div>
        <!-- Content -->
        <div class="c-cart-drawer__content">
            <div class="c-cart-drawer__cart"></div>
            <div class="c-cart-drawer__suggestion"></div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        const cartDrawer = document.querySelector('#cartDrawer');
        const cartDrawerOpeners = document.querySelectorAll('[data-drawer-open]');
        const cartDrawerClosers = document.querySelectorAll('[data-drawer-close]');

        // Open Cart Drawer
        cartDrawerOpeners.forEach(function(cartDrawerOpener) {
            console.log(cartDrawerOpener)
            cartDrawerOpener.addEventListener('click', function() {
                cartDrawer.classList.add('is-open');
            });
        });
        // Close Cart Drawer
        cartDrawerClosers.forEach(function(cartDrawerCloser) {
            cartDrawerCloser.addEventListener('click', function() {
                cartDrawer.classList.remove('is-open');
            });
        });
    });
</script>