.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  font-family: Helvetica, Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #1A1A1A;
}

.product__accordion.accordion details[open] .summary__title h2 {
  border-bottom: 3px solid #000;
}

.accordion .icon-accordion {
  align-self: center;
  min-width: 1.6rem;
  margin-right: 1rem;
  fill: rgb(var(--color-foreground));
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion details svg {
  margin-top: 7px;
}

.accordion details svg:last-child {
  display: none;
}

.accordion details[open] svg {
  display: none;
}

.accordion details[open] svg:last-child {
  display: block;
}


.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  color: #1A1A1A;
  padding: 0;
}

.accordion__content img {
  max-width: 100%;
}
