.c-deliver {
    padding: 128px 0 83px;
}

.c-deliver__title h2{
    font-family: Silk Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin-top: 0;
    margin-bottom: 65px;
}

.c-deliver__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20px;
}

.c-deliver__col {
    flex-basis: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}

.c-deliver__icon{
    width: 164px;
    height: 164px;
    background: #FFFFFF;
    border: 1px solid #FCD4B6;
    box-sizing: border-box;
    border-radius: 200px;
    box-shadow: 0 0 0 10px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.c-deliver__icon img {
    width: 80px;
    width: auto;
}

.c-deliver__col h3 {
    font-family: Silk Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin: 0 0 8px;
}

.c-deliver__col p {
    font-family: Helvetica, Neue;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
}